rdt==0.2.10
ctgan @ git+https://github.com/kasra-hosseini/CTGAN.git@privgem_develop
shap
sdv==0.5.0
opacus==0.9.0
torch>=1.6.0,<2
jupyterlab
matplotlib
PuLP
networkx
dython
jupyter-client>=6.1.5
jupyter-core>=4.6.3